/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --meet-dark: #000000;
  --meet-light: #ffffff;
  --meet-blue: #55c9de;
  --meet-pink: #e53170;
  --meet-gray: #808080;
}

body {
  font-family: "Fredoka", sans-serif;
}

main header {
  text-align: center;
  margin: 2rem;
}

#site_main {
  width: 70%;
  margin: 2rem auto;
}

.container {
  width: 1100px;
  margin: 1rem auto;
  margin-left: 1rem;
  padding: 1rem;
}

h1 {
  color: var(--meet-pink);
  text-align: center;
  margin: 2rem;
}

.card {
  width: calc(100% / 6 + 8.3rem);
  float: left;
  margin-top: 3rem;
  margin-left: 2rem;
  box-shadow: 0 0 10px var(--meet-gray);
  background-color: var(--meet-dark);
  color: var(--meet-light);
}

div img {
  float: left;
  padding-right: 1rem;
  width: 100px;
}

h2 {
  font-size: 1.1rem;
  padding-top: 0.7rem;
}

a {
  color: var(--meet-blue);
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site_footer {
  text-align: center;
}
